*{
    margin: 0;
    padding: 0;

    /*o tamando leva em conta até a borda, width é a soma 
    /* da borda com o padding*/
    box-sizing: border-box;
}

body{

    background-color: #fbfbfb;
    font-family: 'Roboto', sans-serif;
}

li {
    /* tira a marcação das listas*/
    list-style: none;
}

nav{

    background-color: lightskyblue;
}

.main{

    max-width: 900px;
    margin: 0 auto;;
}

.newPost {
    
    display:flex;
    width: 100%;
    height: 240px;
    
    /* os itens ficam dispostos em colunas */
    flex-direction: column;

    /* Posiciona itens-flex a partir do início */
    align-items: flex-start;
    

    background: #fff;
    border-radius: 10px ;

    /* adiciona uma sombra no elemento*/
    box-shadow: 10px 5px 5px black;;
}

.btnFileForm{

    background-color: white;
    border: none;
}

.infoUser{

    display:flex;
    align-items: center;
    justify-content: center;
}

.imgUser {

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #333;

}

.formPost {

    display: flex;
    flex-direction: column;
    width: 100%;
}

.formPost textarea {
    background-color: #fbfbfb;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    outline: none;
    resize: none;

    font-weight: bold;
    font-family: 'Roboto' , sans-serif;
    color: #727272;
}

.iconsAndButton{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnSubmitForm{

    background-color: lightyellow;
    
}

.filePost img{

    width: 30px;
    padding-left: 5px;
    padding-right: 5px;
    
    

    
}

.actionBtnPost button{

    border-radius: 10px;
    width: 150px;
    height: 35px;
}

.post{
    margin-bottom: 50px;
    padding: 25px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;;
}

.infoUserPost{

    display: flex;
    
}

.imgUserPost{

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #23A0FF;
    margin-right: 8px;

}

