* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #00a8ff 50%, white 50%);
}

main.container {
    background: #fff;
    min-width: 450px;
    min-height: 70vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 10%;
    bottom: 0px;
    left: 0px;
    border-radius: 8px;
    background: #00a8ff;
}

.newUser {
    display: flex;
}

.newUser h2 {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field {
    margin-bottom: 1.2rem;
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

form .input-field .underline::before {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

form .input-field .underline::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #00ced1, #00a8ff);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus~.underline::after {
    transform: scaleX(1);
}

.input-field input ::placeholder {
    color: rgba(0, 0, 0, 0.5)
}

button {
    background: linear-gradient(to right, lightskyblue, #00a8ff);
    width: 50%;
    margin-left: 100px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.fa-eye {
    margin-left: 200px;
    cursor: pointer;
}

#msgCadError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
    margin-bottom: 20px;
}